
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>

<!-- <h1> project detail page 입니다.</h1> -->

<div class="container">
    <h1>{{ blog.title }}</h1>
    <p class ="date">{{ blog.pub_date }}</p>
    <p>{{ blog.body }}</p>

    <div class="hashtag">
        {% for hashtag in hashtags %}
        #{{hashtag.name}}
        {% endfor %}
    </div>
    <br>
    <br>
    <a href="{% url 'home' %}" >돌아가기</a>
</div>



<hr>
{% for comment in blog.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_at }}</div>
        <strong>{{ comment.author_name }}</strong>
        <p>{{ comment.comment_text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments are here yet ;(</p>
{% endfor %}

<hr>
<a class="btn btn-default" href="{% url 'blog:add_comment_to_post' blog.id %}">댓글달기</a>