

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'new.css' %}">
</head>

<div class="container">
	<form action="{% url 'blog:create' %}"> 
	  <h4>제목 <input type="text" name="title"> </h4>
	  <h4>본문  <textarea cols=35 rows=10 name="body" ></textarea></h4>
	  <h4> #HASHTAG <input type="text" name="hashtags" placeholder="해시태그(,로 구분)"></h4>
	  <input class="btn btn-dark" type="submit" value="제출하기">
	  
  </form>


